.game {
	align-items: center;
	border: 2px solid grey;
	margin: auto;
	width: 50%;
	text-align: left
}

.game h2 {
	color: black;
	text-align: left;
}

.author {
	background: grey;
	border-bottom: 2px solid black;
	font-weight: bold;
}

.game img {
	float: left;
	border-right: 2px solid black;
	width: 20%;
	height: 100%;
}

.game_interface input[type="submit"] {
	width: 100%;
}

.result {
	align-items: center;
	border: 2px solid grey;
	margin: auto;
	width: 50%;
	text-align: left
}

.result_interface {
	width: 70%;
}

.result img {
	float: left;
	border-right: 2px solid black;
	width: 40%;
	height: 280px;
}

.result h2 {
	color: black;
	text-align: left;
}