.nav {
	height: 50px;
	text-align: left;
	padding-left: 20%;
}

.navlink {
	line-height: 50px;
  	color: black;
  	text-decoration: none;
}

span {
	padding-left: 15%;
}

.nav img {
	padding-right: 10px;
	padding-left: 10px;
	width: 3%;
}

a.active {
	background-color: green;
	color: white
}